[submodule "thirdparty/tomlplusplus"]
	path = thirdparty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/echofourpapa/imgui.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/MikkTSpace"]
	path = thirdparty/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/JoltPhysics"]
	path = thirdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
